#hello {
	text-align:left;
}
#para1 {
	position:relative;
	left:80px;
	width:900px;
	text-align:center;
	font-size:20px;
}
#para {
	width:900px;
	text-align:center;
	font-size:25px;
}
#menu {
	position:relative;
	top:20px;
	left:120px;
}

#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu li {
	float: left;
	width: 300px;
	border-right: solid 1px #fff;
	position: relative;
}
#menu li h2 {
	margin: 0;
	padding: 0;
}

#menu li h2 a, #menu li li a {
	display: block;
	text-align: center;
	font-size: 17px;
	background-color: #666;
	color: #fff;
	text-decoration: none;
	line-height: 40px;
	vertical-align: middle;
}

#menu li h2 a:hover, #menu li li a:hover {
	background-color: #000;
}
#menu li li a {
	height: 100%;
}
#menu li ul {
	position: absolute;
	top: 100%;
	margin: 0;
	padding: 0;
	display: none;
	background-color: #666;
	z-index: 1000;
	width: 100%;
}
#menu li li {
	float: none;
	border-right: solid 1px #fff;
}
#menu li:hover ul {
	display: block;
}

